---
- name: Download Google Linux signing key
  get_url:
    url: https://dl.google.com/linux/linux_signing_key.pub
    dest: /usr/share/keyrings/google-linux-signing-key.gpg
    mode: '0644'
- name: Ensure Google Chrome apt repo is present
  apt_repository:
    repo: deb [arch=amd64 signed-by=/usr/share/keyrings/google-linux-signing-key.gpg] https://dl.google.com/linux/chrome/deb/ stable main
    state: present
    filename: google-chrome
- name: Ensure Google Chrome (Stable) apt package is present
  apt:
    update_cache: yes
    name: google-chrome-stable
    state: present
